<p id="notice"><%= notice %></p>
<h1>Edit Signatory</h1>


<%= form_for(@signatory) do |f| %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

	<div class="field">
    <%= f.label "middle name" %>
    <%= f.text_field :middle_name %>
  </div>

	<div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

	<div class="field">
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
