<p id="notice"><%= notice %></p>

<h1>Signatories</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Position</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signatories.each do |signatory| %>
      <tr>
        <td><%= signatory.first_name %></td>
        <td><%= signatory.last_name %></td>
        <td><%= signatory.middle_name %></td>
        <td><%= signatory.position %></td>
        <td><%= signatory.department %></td>
        <td><%= link_to 'Show', signatory %></td>
        <td><%= link_to 'Edit', edit_signatory_path(signatory) %></td>
        <td><%= link_to 'Destroy', signatory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signatory', new_signatory_path %>
